.sentence
    .container
        .sentence__title Для получения микрозайма выберите МФО из списка ниже:

        .product
            .product__slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .action.action_red Первый заем - бесплатно!
                            .product__img
                                img(src="img/logo-icon-2.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-3.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Оформить микрокредит        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-4.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги
                    .swiper-slide
                        .product__item
                            .action.action_green Одобрение 97% заявок
                            .product__img
                                img(src="img/logo-icon-5.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-6.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .action.action_red Первый заем - бесплатно!
                            .product__img
                                img(src="img/logo-icon-2.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-3.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Оформить микрокредит        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-4.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги
                    .swiper-slide
                        .product__item
                            .action.action_green Одобрение 97% заявок
                            .product__img
                                img(src="img/logo-icon-5.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-6.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .action.action_red Первый заем - бесплатно!
                            .product__img
                                img(src="img/logo-icon-2.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-3.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Оформить микрокредит        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-4.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги
                    .swiper-slide
                        .product__item
                            .action.action_green Одобрение 97% заявок
                            .product__img
                                img(src="img/logo-icon-5.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-6.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        

                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

.microloans-moskow
    .container
        h2.main-title Микрозаймы срочно в Москве
        .microloans-moskow__article
            p В РФ микрофинансовые организации, выдающие населению займы круглосуточно онлайн, появились приблизительно в середине девяностых годов прошлого столетия. До принятия в 2011 г. властями Закона «О микрофинансовой деятельности и микрофинансовых организациях» деятельность этих компаний не регулировалась. В 2015 г в силу вступили поправки в закон, на основании положений которого с 29.03.2017 все компании такого типа делились на 2 типа: микрокредитные (МКК) и микрофинансовые (МФК). Рейтинг данных организаций с каждым годом растет, потому что увеличивается число желающих 
                a(href="#") получить online-займ. 

        .microloans-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/atm.png")
                        a(href="#") Займ на карту        

                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/cash.png")
                        a(href="#") Наличными

                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/mobile-phone.png")
                        a(href="#") На номер телефона

                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/maestro.png")
                        a(href="#") На карту Маэстро

                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/ym.png")
                        a(href="#") На Яндекс деньги

                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/mir.png")
                        a(href="#") На карту Мир

                .swiper-slide
                    .microloans-slider__item
                        .microloans-slider__img
                            img(src="img/logo-sber.png")
                        a(href="#") На карту Сбербанка     

            .swiper-button-next
            .swiper-button-prev

        .requirements
            h2.main-title Требования к заемщикам
            .requirements__inner
                .requirements__item
                    .requirements__img
                        img(src="img/team.png")
                    ul.requirements__list
                        li Возраст – от 18 лет<br> и не старше 75
                        li Займ денег онлайн доступен только для лиц обозначенного возраста        

                .requirements__item.requirements__item_church
                    .requirements__img
                        img(src="img/church.png")
                    ul.requirements__list
                        li Заемщик – гражданин<br> Российской Федерации
                        li Микрозайм онлайн срочно выдается только гражданам России 

                .requirements__item
                    .requirements__img
                        img(src="img/password.png")
                    ul.requirements__list
                        li Зарегистрированный<br> аккаунт
                        li Клиент должен зарегистрировать личный кабинет на сайте выбранной МФО 

            .about-microloans
                p Займы представляют собой денежные кредиты, которые оформляются через интернет круглосуточно.<br> Данный вид кредитования является относительно новым в нашей стране, хотя 
                    a(href="#") онлайн займы  
                    | по всей России уже стали популярными у населения. 
                p 
                    a(href="#") Микрозаймы онлайн 
                    |предоставляются клиентам взаймы на неотложные потребности многими финансовыми организациями. Каждая из них предлагает свои особенные программы, отличающиеся по условиям, кредитным ставкам, требованиям погашения. При помощи нашего сервиса онлайн получить займ без отказа могут все желающие, заполнив заявку на нашем сайте. Здесь представлен список доступных кредитных организаций. Каталог постоянно пополняется новыми предложениями.

        .table-microloans
            table
                thead.thead-mob
                    tr
                        td
                            |Список банков
                thead.thead-desctop
                    tr
                        td Наименование 
                        td Сумма займа
                        td Срок займа
                        td Процентная ставка
                        td Сколько нужно вернуть
                tbody
                    tr
                        td 
                            .table-bank
                                .table-bank__img
                                    img(src="img/tin.png")
                                span Тинькофф банк
                        td 
                            span.table-condition 
                                b Сумма займа 
                                |(2000-30 000 руб.)    
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-condition
                                b Срок займа: 
                                |(7-30 дней)
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-rate 0,76% – 1,5% в день
                        td
                            .table-flex
                                span К возврату: 
                                    i.table-sum 10700 
                                    |руб.
                                .table-article__mob Рассчитано по ставке: 
                                    b 1% в день
                                a(href="#").table-btn Получить деньги                
                    tr
                        td 
                            .table-bank
                                .table-bank__img
                                    img(src="img/rst.png")
                                span Банк Русский стандарт
                        td 
                            span.table-condition 
                                b Сумма займа 
                                |(2000-30 000 руб.)    
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-condition
                                b Срок займа: 
                                |(7-30 дней)
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-rate 0,76% – 1,5% в день
                        td
                            .table-flex
                                span К возврату: 
                                    i.table-sum 10700 
                                    |руб.
                                .table-article__mob Рассчитано по ставке: 
                                    b 1% в день
                                a(href="#").table-btn Получить деньги                                
                    tr
                        td 
                            .table-bank
                                .table-bank__img
                                    img(src="img/alfa.png")
                                span Альфа банк
                        td 
                            span.table-condition 
                                b Сумма займа 
                                |(2000-30 000 руб.)    
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-condition
                                b Срок займа: 
                                |(7-30 дней)
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-rate 0,76% – 1,5% в день
                        td
                            .table-flex
                                span К возврату: 
                                    i.table-sum 10700 
                                    |руб.
                                .table-article__mob Рассчитано по ставке: 
                                    b 1% в день
                                a(href="#").table-btn Получить деньги                                
                    tr
                        td 
                            .table-bank
                                .table-bank__img
                                    img(src="img/sov.png")
                                span Карта рассрочки Совесть
                        td 
                            span.table-condition 
                                b Сумма займа 
                                |(2000-30 000 руб.)    
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-condition
                                b Срок займа: 
                                |(7-30 дней)
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +
                        td
                            span.table-rate 0,76% – 1,5% в день
                        td
                            .table-flex
                                span К возврату: 
                                    i.table-sum 10700 
                                    |руб.
                                .table-article__mob Рассчитано по ставке: 
                                    b 1% в день
                                a(href="#").table-btn Получить деньги                                

        .loanterm
            h2.main-title Сроки зачисления займа

            .loanterm-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/master-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                                li.loanterm-slider__where На большинство<br> банков            
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/ym-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/visa-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/qiwi-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/bank-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about от 1 часа
                                li.loanterm-slider__where До трех<br> рабочих дней
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/korona-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/contact-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                    .swiper-slide
                        .loanterm-slider__item
                            .loanterm-slider__img
                                img(src="img/mir-min.png")

                            ul.loanterm-slider__article
                                li.loanterm-slider__about мгновенно
                                li.loanterm-slider__time 24 x 7
                                li.loanterm-slider__where На некоторые банки

                .swiper-button-next
                .swiper-button-prev

    .container.container_np
        .microloans-org
            .microloans-org__item
                .microloans-org__list-wrap
                    ul.link-list.link-list_org
                        li
                            a(href="#") Наличными
                        li
                            a(href="#") На номер телефона   
                        li
                            a(href="#") На карту онлайн

                    ul.link-list.link-list_org
                        li
                            a(href="#") Наличными
                        li
                            a(href="#") На номер телефона   
                        li
                            a(href="#") На карту онлайн

                    ul.link-list.link-list_org
                        li
                            a(href="#") Наличными
                        li
                            a(href="#") На номер телефона   
                        li
                            a(href="#") На карту онлайн

                .microloans-org__article
                    p В РФ микрофинансовые организации, выдающие населению займы круглосуточно онлайн, появились приблизительно в середине девяностых годов прошлого столетия. До принятия в 2011 г. властями Закона «О микрофинансовой деятельности и микрофинансовых организациях» деятельность этих компаний не регулировалась. В 2015 г в силу вступили поправки в закон, на основании положений которого с 29.03.2017 все компании такого типа делились на 2 типа: микрокредитные (МКК) и микрофинансовые (МФК). Рейтинг данных организаций с каждым годом растет, потому что увеличивается число желающих 
                        a(href="#") получить online-займ.

                .advantages
                    h2.main-title С нами выгодно и просто
                    .advantages__inner
                        .advantages__item
                            .advantages__img
                                img(src="img/clock.png")
                            .advantages__article    
                                |Выдаем займы<br> 24 часа

                        .advantages__item
                            .advantages__img
                                img(src="img/chat.png")
                            .advantages__article    
                                |Быстрое<br> одобрение <br>займа

                        .advantages__item
                            .advantages__img
                                img(src="img/computer.png")
                            .advantages__article    
                                |Онлайн<br> оформление <br>кредита

                        .advantages__item
                            .advantages__img
                                img(src="img/discount.png")
                            .advantages__article    
                                |Низкие<br> процентные <br>ставки


            .microloans-org__item    
                .request
                    .request__inner
                        .request__title Первый займ бесплатно
                        ul.request__time
                            li 
                                i за
                            li 
                                b 5
                            li
                                .request__adv
                                    span Займ
                                    span минут
                        ul.request__confirm
                            li Одобрение
                            li 90%
                        a(href="#").request__btn Подать заявку 
                    .request__img
                        span
                            img(src="img/fons.png")   

    .container.container_credit
        .credit-cards
            h2.main-title Кредитные карты
            .credit-cards__article
                p Займы представляют собой денежные кредиты, которые оформляются через интернет круглосуточно.<br> Данный вид кредитования является относительно новым в нашей стране, хотя 
                    a(href="#") онлайн займы 
                    |по всей России уже стали популярными у населения. 
                
                p 
                    a(href="#") Микрозаймы онлайн 
                    |предоставляются клиентам взаймы на неотложные потребности многими финансовыми организациями. Каждая из них предлагает свои особенные программы, отличающиеся по условиям, кредитным ставкам, требованиям погашения. При помощи нашего сервиса онлайн получить займ без отказа могут все желающие, заполнив заявку на нашем сайте. Здесь представлен список доступных кредитных организаций. Каталог постоянно пополняется новыми предложениями.
            
            ul.bank-tabs
                li
                    span Альфа банк
                li
                    span Банк Русский Стандарт
                li
                    span.active Банк Тинькофф
                li
                    span Банк Home кредит
                li
                    span Карта рассрочки Совесть
                li
                    span Карта Халва
                li
                    span Карта Кукуруза
                li
                    span Карта рассрочки Совесть
                li
                    span Карта Халва
                li
                    span Карта Кукуруза
                li
                    span Банк Home кредит                 
            
        .calculate
            .calculate__top
                span Получите 
                |50% к вероятности одобрения, 
                span заполнив 
                |заявку на микрозайм:
            .calculate__main
                .calculate__title Оформите микрозайм онлайн за 5 минут
                
                .calculate__inner
                    .calc-loan.calc-loan_sum
                        .calc-loan__title Сумма займа
                        label.calc-loan__label
                            input(type="text").calc-sum__inp
                            span.symbol-r
                            span.pen-icon
                                
                        .calc-sum__range  
                            input(type="text" class="js-range")
                        
                        ul.calc-loan__min-max
                            li 10 000 руб.
                            li 100 000 руб.        
                    
                    .calc-loan.calc-loan_day
                        .calc-loan__title Срок займа
                        label.calc-loan__label
                            input(type="text").calc-day__inp
                            span.symbol-d Дней
                            span.pen-icon
                            
                        .calc-day__range  
                            input(type="text" class="day-range")
                                
                        ul.calc-loan__min-max
                            li 1 день
                            li 24 месяца                             
                
                .calc-res
                    ul
                        li.calc-res__title.calc-res__title_sum К возврату:
                        li 
                            span.calc-res__sum 46700
                            span.calc-res__symbol 
                    ul
                        li.calc-res__title.calc-res__title_proc Процентная ставка:
                        li.calc-res__proc-list
                            span.calc-res__proc 
                                i 1
                                b %
                            span.calc-res__day в день
                            
                    ul
                        li.calc-res__title.calc-res__title_date Дата возврата займа:
                        li.calc-res__list-date
                            span.calc-res__calendar
                            ul.calc-res__date
                                li Воскресенье
                                li 19 мая, 2019
                
                ul.calc-select
                    li
                        span.calc-select__title Способ получения:
                        .select-custom
                            select
                                option(value="На карту") На карту
                                option(value="Тест 1") Тест 1
                                option(value="Тест 2") Тест 2
                    li
                        span.calc-select__title Способ погашения:
                        .select-custom
                            select
                                option(value="Банковская карта") Банковская карта
                                option(value="Тест 1") Тест 1
                                option(value="Тест 2") Тест 2
                        
                    li
                        span.calc-select__title Тип занятости:
                        .select-custom
                            select
                                option(value="Работающий") Работающий
                                option(value="Тест 1") Тест 1
                                option(value="Тест 2") Тест 2
                
                ul.calc-data
                    li
                        input(type="text" placeholder="Имя")
                    li
                        input(type="text" placeholder="+7 (")
                    li.calc-data__last
                        a(href="#").calc-data__btn Получить микрозайм
                
                .check-custom.check-custom_calc
                    input(type="checkbox" style="display: none;" checked)#calc-privacy
                    label(for="calc-privacy") 
                        |Я принимаю 
                        a(href="#") условия передачи информации                     
                
                        








.subscription
    form(action="#")
        .subscription__title Подпишитесь на акции
        .subscription__article У нас бывают индивидуальные скидки для подписчиков!<br> Вы хотите узнать о них первыми?

        .subscription__item
            .subscription__inner
                label.inp-wrap
                    input(type="text" placeholder="E-mail*").inp
                button(type="submit").subscription__btn Подписаться

            .check-custom.check-custom_form
                input(type="checkbox" checked)#check-privacy
                label(for="check-privacy") Я принимаю 
                    a(href="#") условия передачи информации            
