.sentence
    .container
        .sentence__title Для получения микрозайма выберите МФО из списка ниже:

        .product
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .action.action_red Первый заем - бесплатно!
                            .product__img
                                img(src="img/logo-icon-2.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-3.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Оформить микрокредит        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-4.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги
                    .swiper-slide
                        .product__item
                            .action.action_green Одобрение 97% заявок
                            .product__img
                                img(src="img/logo-icon-5.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-6.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .action.action_red Первый заем - бесплатно!
                            .product__img
                                img(src="img/logo-icon-2.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-3.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Оформить микрокредит        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-4.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги
                    .swiper-slide
                        .product__item
                            .action.action_green Одобрение 97% заявок
                            .product__img
                                img(src="img/logo-icon-5.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-6.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                    .swiper-slide
                        .product__item
                            .action.action_red Первый заем - бесплатно!
                            .product__img
                                img(src="img/logo-icon-2.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-3.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Оформить микрокредит        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-4.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги
                    .swiper-slide
                        .product__item
                            .action.action_green Одобрение 97% заявок
                            .product__img
                                img(src="img/logo-icon-5.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить займ        
                    .swiper-slide
                        .product__item
                            .product__img
                                img(src="img/logo-icon-6.png")
                            .product__title 
                                span Сумма займа:
                            .product__amount 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 10000
                                    span руб.    
                                span.switch__button.switch__button_plus +

                            .product__title 
                                span Срок займа:
                            .product__term 
                                span.switch__button.switch__button_minus -
                                .product__counter
                                    i 7
                                    span дней    
                                span.switch__button.switch__button_plus +

                            ul.product__list
                                li
                                    span Ставка:
                                    span 0,76% - 1,5% в день
                                li
                                    span Одобрение: 
                                    span 95%
                                li
                                    span Рассмотрение: 
                                    span 4 минуты
                                li    
                                    span Получение
                                    ul.product__payment
                                        li
                                            img(src="img/visa.png")
                                        li
                                            img(src="img/mastercard.png")
                                        li
                                            img(src="img/wallet.png")        

                            a(href="#").product__btn Получить деньги        
                        
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination

.subscription
    form(action="#")
        .subscription__title Подпишитесь на акции
        .subscription__article У нас бывают индивидуальные скидки для подписчиков!<br> Вы хотите узнать о них первыми?

        .subscription__item
            .subscription__inner
                label.inp-wrap
                    input(type="text" placeholder="E-mail*").inp
                button(type="submit").subscription__btn Подписаться

            .check-custom.check-custom_form
                input(type="checkbox" checked)#check-privacy
                label(for="check-privacy") Я принимаю 
                    a(href="#") условия передачи информации            
