header.header
    ul.header-top_mob
        li 
            .logo-mob
                img(src="img/purse.png")
        li
            .logo-mob-text
                span Взаймы
                span Nline
        li
            .select-custom.header-select_mob
                select
                    option Москва
                    option Санкт-Петербург
                    option Ессентуки                   
        
    .header-top.header-top_desctop.container
        ul.header-top__list
            li
                .main-logo.main-logo_header
                    .main-logo__img
                        img(src="img/purse.png")
                            
                    ul.main-logo__text
                        li Взаймы
                        li 
                            span Nline
            li
                .select-custom.header-select_desctop
                    select
                        option Москва
                        option Санкт-Петербург
                        option Ессентуки
            li
                span.header-slogan Официальные микрозаймы
            li
                ul.header-top__links
                    li
                        a(href="#") О сайте
                    li
                        a(href="#") Акции
                            
            li.order-btn__wrap
                a(href="#").order-btn Онлайн заявка на займ                 
    
    .navigate
        .navigate__mob
            .burger
                span
                span
                span
                span
            .slogan-mob
                span Официальные микрозаймы        
                    
        nav.main-nav
            ul.main-nav__list
                li
                    .main-nav__top.main-nav__top_microloans
                        span Микрозаймы
                    ul.main-nav__inner
                        li
                            a(href="#") Тинькофф
                        li     
                            a(href="#") Альфа банк
                        li     
                            a(href="#") Русский стандарт
                li
                    .main-nav__top.main-nav__top_credits
                        span Кредиты
                    ul.main-nav__inner
                        li
                            a(href="#") Тинькофф
                        li     
                            a(href="#") Альфа банк
                        li     
                            a(href="#") Русский стандарт
                            
                li
                    .main-nav__top.main-nav__top_credit-card
                        span Кредитные карты
                    ul.main-nav__inner.main-nav__credit-cards
                        li
                            a(href="#").tinkoff-link Тинькофф банк
                        li
                            a(href="#").alfa-link Альфа банк
                        li
                            a(href="#").rst-link Русский стандарт
                        li
                            a(href="#").hkr-link Home кредит
                        li
                            a(href="#").sovest-link Карта рассрочки Совесть
                        li
                            a(href="#").halva-link Карта Халва
                        li
                            a(href="#").kukuruza-link Карта Кукуруза
                
                li
                    .main-nav__top.main-nav__top_way
                        span Способ получения
                    ul.main-nav__inner.main-nav__way
                        li
                            a(href="#").card-loan Займ на карту
                        li
                            a(href="#").qiwi-loan Займ на киви
                        li
                            a(href="#").maestro-loan Займ на карту Маэстро
                        li
                            a(href="#").cont-loan Займ через систему контакт
                        li
                            a(href="#").rs-loan Займ на рсчетный счет
                        li
                            a(href="#").ym-loan Займ на Яндекс деньги
                        li
                            a(href="#").phone-loan Займ на телефон
                        li
                            a(href="#").cash-loan Займ наличными
                        li
                            a(href="#").bank-loan Займ на банковский счет
                        li
                            a(href="#").gk-loan Займ через Золотую корону            
                li
                    .main-nav__top.main-nav__top_sum
                        span Сумма займа
                    ul.main-nav__inner
                        li 2000
                        li 3000
                        li 4000
                        li 5000
                        li 6000
                        
                li
                    .main-nav__top.main-nav__top_term
                        span Срок займа
                    ul.main-nav__inner
                        li 7 дней
                        li 8 дней
                        li 9 дней
                        li 10 дней     
            
            .main-nav__bottom
                ul
                    li
                        a(href="#") О сайте
                    li                             
                        a(href="#") Акции
                
                a(href="#").main-nav__btn Онлайн заявка на займ
                
                        
                    
